# For local install
# if you want to install this project localy
# use 'pip install .' in the project root
# setuptools

# For the Backend
fastapi[standard]
duckdb
python-jose[cyptography]
pwdlib[argon2]

# For the Frontend
nicegui
requests
